* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

header {
  width: 100vw;
  height: 50px;
  background-color: #D0D0D0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 32px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

nav {
  width: 100vw;
  height: 58px;
  background-color: #707070;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__wrapper {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item>a {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  transition: .3s;
}

.nav__item>a:hover {
  color: #cdcdcd;
}

.nav__hr {
  width: 1px;
  height: 45px;
  background-color: #fff;
  border: none;
}

.btn__back {
  position: absolute;
  display: inline-block;
  width: 126px;
  height: 40px;
  background-color: #e6e6e6;
  border-radius: 7px;
  border: 1px solid #ababab;
  transition: .3s;
  left: 50px;
}

.btn__back:hover {
  background-color: #f2f2f2;
}

.btn__back__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
}

.photos-box {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  height: 100%;
  /* display: flex;
  justify-content: center; */
  margin-bottom: 30px;
}

.photos-box>img {
  width: 300px;
}

/* @media (max-width: 1300px) {
  .photos-box {
    flex-direction: column;
  }

  .photos-box-wrapper-box {
    margin: 0 auto;
  }
} */

.photos-box-wrapper {
  display: flex;
}

.color-box {
  margin: 0 auto;
  height: 40px;
  width: 160px;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 7px;
}

.color-box2 {
  margin: 0 auto;
  height: 40px;
  width: 60px;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 7px;
}

.color-box1 {
  margin: 0 auto;
  height: 40px;
  width: 100px;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 7px;
}

.color-blackdick {
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 100%;
}

.color-samsung_black {
  width: 26px;
  height: 26px;
  background-color: #2f2d2e;
  border-radius: 100%;
}

.color-purpleass {
  width: 26px;
  height: 26px;
  background-color: #a2537a;
  border-radius: 100%;
}

.color-samsung_violet {
  width: 26px;
  height: 26px;
  background-color: #a2537a;
  border-radius: 100%;
}

.color-samsung_yellow {
  width: 26px;
  height: 26px;
  background-color: #e1d014;
  border-radius: 100%;
}

.color-samsung_grey {
  width: 26px;
  height: 26px;
  background-color: #9c9b91;
  border-radius: 100%;
}

.color-box__color-active {
  border-radius: 5px;
  width: 33px;
  height: 33px;
  border: 1px solid #00b30c;
  background-color: #e5fed7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.color-blue_titanium {
  width: 26px;
  height: 26px;
  background-color: #0f1895;
  border-radius: 100%;
}

.color-white_titanium {
  width: 26px;
  height: 26px;
  background-color: #cccccc;
  border-radius: 100%;
}

.color-cream2 {
  width: 26px;
  height: 26px;
  background-color: #dbb094;
  border-radius: 100%;
}

.color-blue1 {
  width: 26px;
  height: 26px;
  background-color: #94b6db;
  border-radius: 100%;
}

.color-purple2 {
  width: 26px;
  height: 26px;
  background-color: #d37ecc;
  border-radius: 100%;
}

.color-grey1 {
  width: 26px;
  height: 26px;
  background-color: #79828b;
  border-radius: 100%;
}

.color-pink2 {
  width: 26px;
  height: 26px;
  background-color: #dc74ce;
  border-radius: 100%;
}

.color-cream2 {
  width: 26px;
  height: 26px;
  background-color: #dbce9f;
  border-radius: 100%;
}

.sigma {
  transform: rotate(45deg);
  zoom: 4;
  color: #000;
  margin-top: -2px;
  margin-left: 2px;
}

.text-box {
  margin: 0 auto;
  margin-top: 35px;
  max-width: 1100px;
  padding: 0 15px;
  width: 100%;
  background-color: #ededed;
  border-radius: 10px;
  padding-bottom: 8px;
}

.text-box__title {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 20px;
}

#text-box__blocks {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  width: 100%;
}

.text-box__blocks>ul>li {
  list-style: none;
  padding-bottom: 8px;
}

.text-box__boxes {
  display: flex;
  justify-content: space-between;
}

.text-box__blocks__title {
  padding-bottom: 7px;
}

.text-box__price-wrapper {
  border-radius: 10px;
  width: 150px;
  margin: 0 auto;
  background-color: #000000;
}

.text-box__price__title {
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding: 5px 7px;
}

.class {
  width: 100%;
}

.btn__wrapper {
  height: 150px;
}

.btn__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 300px;
  height: 60px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  margin: 0 auto;
  margin-top: 28px;
  transition: .3s;
}

.btn__buy:hover {
  background-color: #858585;
}

.main__title {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 45px;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.phone-boxes {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  height: 950px;
}

.phone-boxes1 {
  height: auto;
}

.phone-boxes__box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.phone-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 250px;
  height: 400px;
  padding: 20px 0;
  background-color: #d9d9d9;
  border-radius: 10px;
  text-decoration: none;
  transition: .3s;
}

.phone-card:hover {
  transform: scale(105%);
  box-shadow: 4px 7px 16px -1px rgba(0, 0, 0, 0.32);
}

.card__img--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card__img {
  text-align: center;
  width: 200px;
}

.card__text-box {
  width: 100%;
}

.card__title {
  color: #000;
  text-decoration: none;
  text-align: center;
}

.text-box__price-wrapper-card {
  width: 123px;
}

.text-box__price__title-card {
  font-size: 25px;
  padding: 3px 5px;
}

.phone-card-trends {
  zoom: 1.1;
}

.inf_phone {
  float: left;
  width: 230px;
  height: 400px;
  padding: 20px 0;
  background-color: #d9d9d9;
  border-radius: 10px;
  text-decoration: none;
  transition: .3s;
  margin-top: 100px;
  margin-left: 100px;
}

.buy_photo {
  width: 85%;
  height: 95%;
  margin: auto;
}

.subprice-wrapper {
  text-align: center;
  background-color: #000;
  width: 64px;
  border-radius: 7px;
  margin: 0 auto;
}

.subprice {
  font-size: 12px;
  padding: 5px 3px;
  color: #fff;
}

.infomation {
  margin-top: 100px;
  margin-left: 70px;
}

.buy_now {
  float: left;
  width: 500px;
  height: 550px;
  padding: 20px 0;
  background-color: #d9d9d9;
  border-radius: 10px;
  text-decoration: none;
  transition: .3s;
  margin-top: 50px;
  margin-left: 400px;
}

.buy_another {
  float: right;
  width: 500px;
  height: 550px;
  padding: 20px 0;
  background-color: #d9d9d9;
  border-radius: 10px;
  text-decoration: none;
  transition: .3s;
  margin-top: 50px;
  margin-right: 400px;
}

.now_inf {
  text-align: center;
}

.input_inf_text {
  margin: auto;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.input_inf_PHOTO {
  width: 300px;
  height: 310px;
  margin-top: 25px;
  margin-left: 100px;
}

.phone_but {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 300px;
  height: 60px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  margin: 0 auto;
  margin-top: 28px;
  transition: .3s;
}

a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1132px) {
  .text-box__boxes {
    flex-direction: column;
    align-items: center;
  }

  .text-box {
    max-width: 80%;
  }

  .nav__wrapper {
    width: 90%;
  }

  .nav__item>a {
    font-size: 20px;
  }

  .text-box__blocks2 {
    width: 180px;
  }

  #text-box__blocks {
    justify-content: space-between;
  }
}

.nav__item {
  text-align: center;
}

.Final_inf {
  text-align: center;
  width: 400px;
  height: 150px;
  padding: 20px 0;
  background-color: #d9d9d9;
  border-radius: 10px;
  text-decoration: none;
  transition: .3s;
  margin-top: 200px;
}

.final_btn {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 300px;
  height: 60px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  margin: 0 auto;
  margin-top: 28px;
  transition: .3s;
}

.return__wrapper {
  margin-top: 40px !important;
  margin: 0 auto;
  width: 80%;
  height: 886px;
  display: flex;
  justify-content: space-between;
}

.return, .contacts {
  width: 45%;
  height: 810px;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 10px 15px;
}

.return__title {
  text-align: center;
  margin-bottom: 20px;
}

.contacts>ul {
  margin-left: 20px;
  margin-top: 15px;
}

.contacts__list-item {
  margin-top: 10px;
}

iframe {
  margin-top: 5px;
  width: 97%;
}

.return>ol {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.return__list-item {
  margin-top: 10px;
}

input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  border: 2px #b9b9b9 solid;
  color: #4a4a4a;
  transition: .3s;
}

input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

fieldset {
  padding: 5px;
  border-radius: 7px;
}

.send {
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  background-color: #383838;
  border-radius: 10px;
  border: none;
  transition: .3s;
}

.send>p {
  margin-top: 0.625em;
}

.send:hover {
  background-color: #6b6b6b;  
}







.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -45.5px;
  z-index: 10;
  font-size: 0;
  width: 28px;
  height: 54px;
  border: none;
  cursor: pointer;
}

.slider .slick-prev {
  left: 0;
  /* fill: #000; */
  background: url('arr-prev.svg') 0 0 / 100% no-repeat;
  /* z-index: 10;
  background: url('arr-prev.svg') 0 0 / 100% no-repeat;  */
}

.slider .slick-next {
  right: 0;
  /* fill: #000; */
  background: url('arr-prev.svg') 0 0 / 100% no-repeat;
  transform: rotate(180deg);
  /* z-index: 10;
  background: url('arr-prev.svg') 0 0 / 100% no-repeat;  */
}

/* .slick-arrow, .slick-next {
  right: 30px;
  color: #000;
  background-color: #000;
  fill: #000;
  background: url('arrow-right-solid (1).svg') 0 0 / 100% no-repeat;
  z-index: 10;
} */